body{
    background: rgb(26, 164, 219);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 660px;
    margin : auto;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.521);

}
div{
    font: normal 35pt Arial;
    text-align: center;
    padding: 5px;
}  
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
